@{
    ViewData["Title"] = "Регистрация";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <h1 class="center-align blue-text text-darken-2">Register</h1>
                <form method="post" asp-action="Register" asp-controller="Register" class="card">
                    <div class="card-content">
                        <div class="input-field">
                            <input id="login" type="text" asp-for="Login" class="validate" name="Login" required>
                            <label for="login">Логин</label>
                        </div>
                        <div class="input-field">
                            <input id="fullname" type="text" asp-for="FullName" class="validate" name="FullName" required>
                            <label for="fullname">Полное Имя</label>
                        </div>
                        <div class="input-field">
                            <input id="password" type="password" asp-for="Password" class="validate" name="Password" required>
                            <label for="password">Пароль</label>
                        </div>
                        <div class="center-align red-text">
                            @ViewData["Message"]
                        </div>
                    </div>
                    <div class="card-action center-align">
                        <button type="submit" class="btn waves-effect waves-light green">Создать аккаунт</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
</body>
</html>
